body {
  background-color: #f5eded !important;
}

.titulo-pagina {
  margin-top: 10vh;
}

.tela-cadastro {
  margin-top: 5vh;
  margin-bottom: 5vh;
  background: #ffffff;
  box-shadow: 5px 5px 10px #999999, -5px -5px 10px #ffffff;
  border-radius: 10px;
  padding: 25px;
  border: solid 1px lightgray;
}

.botao-salvar,
.botao-pesquisar {
  width: 120px;
}

.icones-botao i {
  font-size: 20px;
}

.botao-excluir i,
.botao-excluir span {
  color: red;
}

.botao-editar i,
.botao-editar span {
  color: rgb(20, 91, 172);
}

.botao-exportar {
  margin-right: 10px;
}

.historico-cards-container {
  padding: 20px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #999999, -5px -5px 10px #ffffff;
  border-radius: 10px;
  border: solid 1px lightgray;
  margin-bottom: 5vh;
}

.card-item {
  padding: 20px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #999999, -5px -5px 10px #ffffff;
  border-radius: 10px;
  margin: 20px;
  border: solid 1px lightgray;
}

#liveToast {
  position: fixed;
  bottom: 2%;
  left: 2%;
}