.main-content {
  margin-top: 15vh;
}

.main-content .cards-navegacao {
  border: solid 1px lightgray;
  width: 80% !important;
  padding: 20px;
  padding-bottom: 10px;
  margin-left: 10%;
  margin-bottom: 10%;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #999999, -5px -5px 10px #ffffff;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.descricao-card {
  text-align: justify;
}

.container-botoes-navegacao {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-botoes-navegacao .botao {
  width: 30%;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}