<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastro de Pesagens</title>
  <link rel="stylesheet" href="../../css/geral.css" />
  <link rel="stylesheet" href="../../css/cadastroReceitas/style.css" />
  <script src="https://kit.fontawesome.com/4bed44fa76.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../plugins/bootstrap-5.1.3-dist/css/bootstrap.min.css" />
</head>

<body>
  <div id="navbar"></div>
  <h1 class="text-center titulo-pagina">Cadastro de Pesagens</h1>
  <div class="container tela-cadastro">
    <div class="row">

      <div class="col-md-2">
        <div class="form-group mb-3">
          <label for="data" class="form-label">
            Data:
          </label>
          <input type="date" class="form-control" id="data" />
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group mb-3">
          <label for="lote" class="form-label">
            Lote:
          </label>
          <input type="number" class="form-control" id="lote" placeholder="5" />
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group mb-3">
          <label for="numAnimal" class="form-label">
            Número do Animal:
          </label>
          <input type="number" class="form-control" id="numAnimal" placeholder="124" />
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group mb-3">
          <label for="fase" class="form-label">
            Fase:
          </label>
          <input type="text" class="form-control" id="fase" placeholder="Recria" />
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group mb-3">
          <label for="peso" class="form-label">
            Peso(Kg):
          </label>
          <input type="number" class="form-control" id="peso" placeholder="230" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="observacao">Observação:</label>
          <textarea class="form-control" id="observacao" rows="2"></textarea>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="d-flex flex-row-reverse">
        <button class="btn btn-primary botao-salvar">Salvar</button>
      </div>
    </div>
  </div>

  <div class="container historico-cards-container">
    <h3 class="p-3 text-center">Últimos itens cadastrados:</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card-item">
            <h4 class="titulo-card text-center">
              Bezerros
            </h4>
            <ul class="list-group">
              <li class="list-group-item">Data: 10/03/2021</li>
              <li class="list-group-item">Quantidade: 2</li>
              <li class="list-group-item">Peso (arrobas): 23</li>
              <li class="list-group-item">Valor Unitário: R$ 60.00</li>
              <li class="list-group-item">Valor: R$ 120.00</li>
            </ul>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-item">
            <h4 class="titulo-card text-center">
              Despesas
            </h4>
            <ul class="list-group">
              <li class="list-group-item">Data: 10/03/2021</li>
              <li class="list-group-item">Quantidade: 2</li>
              <li class="list-group-item">Peso (arrobas): 23</li>
              <li class="list-group-item">Valor Unitário: R$ 60.00</li>
              <li class="list-group-item">Valor: R$ 120.00</li>
            </ul>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card-item">
            <h4 class="titulo-card text-center">
              Controle de Pastagens
            </h4>
            <ul class="list-group">
              <li class="list-group-item">Data: 10/03/2021</li>
              <li class="list-group-item">Quantidade: 2</li>
              <li class="list-group-item">Peso (arrobas): 23</li>
              <li class="list-group-item">Valor Unitário: R$ 60.00</li>
              <li class="list-group-item">Valor: R$ 120.00</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card-item">
            <h4 class="titulo-card text-center">
              Controle de Mineralização
            </h4>
            <ul class="list-group">
              <li class="list-group-item">Data: 10/03/2021</li>
              <li class="list-group-item">Quantidade: 2</li>
              <li class="list-group-item">Peso (arrobas): 23</li>
              <li class="list-group-item">Valor Unitário: R$ 60.00</li>
              <li class="list-group-item">Valor: R$ 120.00</li>
            </ul>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-item">
            <h4 class="titulo-card text-center">
              Controle de Produção
            </h4>
            <ul class="list-group">
              <li class="list-group-item">Data: 10/03/2021</li>
              <li class="list-group-item">Quantidade: 2</li>
              <li class="list-group-item">Peso (arrobas): 23</li>
              <li class="list-group-item">Valor Unitário: R$ 60.00</li>
              <li class="list-group-item">Valor: R$ 120.00</li>
            </ul>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-item">
            <h4 class="titulo-card text-center">
              Controle de Ocorrências
            </h4>
            <ul class="list-group">
              <li class="list-group-item">Data: 10/03/2021</li>
              <li class="list-group-item">Quantidade: 2</li>
              <li class="list-group-item">Peso (arrobas): 23</li>
              <li class="list-group-item">Valor Unitário: R$ 60.00</li>
              <li class="list-group-item">Valor: R$ 120.00</li>
            </ul>
          </div>
        </div>
      </div>
  </div>
  </div>

  <script type="text/javascript" src="../../plugins/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../../js/index.js"></script>
  <script type="text/javascript" src="../../js/navbar.js"></script>
  <script type="text/javascript" src="../../js/rotas.js"></script>
</body>

</html>